@using MooBookopedia.Models;
@model Movies

@{
    ViewData["Title"] = Model.MovieName;
}

<h1>
    @Model.MovieName (@Model.Year)
</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        <h3>
            Autor
        </h3>
        <hr />
        <p>
            @Model.Director
        </p>
    </div>
    <div class="col-md-2">
        <img src="@Model.MoviePictureURL" class="img-fluid" runat="server" alt="@Model.MovieName" />
        <p class="text-center border border-primary mb-0">@Model.MovieName</p>
    </div>
</div>
<h3>
    Opis filmu
</h3>
<hr />
<p>
    @Model.MovieDescription
</p>
