@using MooBookopedia.Models;
@model IEnumerable<Movies>

@{
    ViewData["Title"] = "Lista filmów";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Zdjęcie
                    </th>
                    <th>
                        Nazwa filmu
                    </th>
                    <th>
                        Opis
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="border border-dark" src="@item.MoviePictureURL" alt="@item.MovieName" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.MovieName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.MovieDescription)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="ViewMovie" asp-route-id="@item.MoviesID">Zobacz więcej</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>